<ion-view hide-nav-bar="true">
    <ion-content overflow-scroll="true" has-header="false" >
        <div class="add-place" style="padding: 20px;">
            <div class="img-container" ng-click="takePicture()">
                <img id="image" style="width: 100%;" ng-src="{{imageSrc}}">
            </div>

            <div class="description-container" style="width: 100%; margin-top: 15px;">
                <!--<span style="color: #888;">Say something about this place</span>-->
                <textarea ng-model="place.description" placeholder="Tell us why people should come here..."
                          style="width: 100%; padding: 5px; border: 1px solid #ddd;" rows="5">
                </textarea>
            </div>

            <div class="go-container" style="text-align: center; margin-top: 23px;">
                <button class="button button-positive" ng-click="save()" style="padding-left: 40px; padding-right: 40px;">
                    Share this place
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>

